{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="jumbotron p-1 p-md-5 my-5 text-white shadow rounded bg-dark">
        <h1 class="display-4 font-italic">BLOG</h1>
        <p class=""lead my-3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus libero ex, eget blandit diam vestibulum nec.
            Nam dapibus diam sapien, a pellentesque nisl malesuada non. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec eleifend ipsum vestibulum dolor dictum, vel efficitur diam dignissim. Phasellus odio est, congue pharetra malesuada
            id, feugiat ut eros. Nam pulvinar tristique efficitur. Suspendisse ut sodales urna. Vesti bulum blandit, sapien in auctor mattis,
            risus ligula scelerisque nisl, eget scelerisque libero ligula in neque. Praesent auctor risus et convallis imperdiet. Suspendisse
            id tortor pulvinar, interdum est in, bibendum leo.
        </p>
    </div>
</div>
{% endblock content %}