body{
background-color:rgb(75,74,74)

}
.jumbo-color{
background-color:rgb(83,81,81)}
h1{
font-weight: bold}
.form-control{
background-color:rgb(172,168,168)
}
.form-container{
border:1px solid #fff;
padding:50px 60px;
}